<% include ./partials/main_menu.ejs %>

<h1 class="mt-4">Interests Crawler</h1>
<p class="lead mb-3">Welcome </p>
<!--<a href="/users/logout" class="btn btn-secondary">Logout</a>-->
<!--<a href="https://www.facebook.com/v3.3/dialog/oauth?client_id=2064148153891919&redirect_uri=http://localhost:5000/privacy&scope=ads_management" class="btn btn-secondary">Login</a>-->
<a href='https://www.facebook.com/v3.3/dialog/oauth?client_id=<%=app_id%>&redirect_uri=<%=redirect_uri%>&state={"{st=state123abc,ds=123456789}"}' class="btn btn-primary">Login via Facebook &nbsp;<i class="fab fa-facebook-square">&nbsp;&nbsp;&nbsp;</i></a>
